<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<h2><f:translate key="LLL:EXT:lighthouse_insight/Resources/Private/Language/locallang.xlf:heading.labData" /></h2>
<div class="lighthouse-insight-metric-grid">
    <f:for each="{result.labMetrics}" as="metric">
        <div class="lighthouse-insight-metric">
            <div>{metric.title}</div>
            <div class="lighthouse-insight-metric-value">
                <f:if condition="{metric.displayValue}">
                    <f:then>{metric.displayValue}</f:then>
                    <f:else>{metric.numericValue} {metric.numericUnit}</f:else>
                </f:if>
            </div>
        </div>
    </f:for>
</div>

<f:if condition="{result.fieldMetrics}">
    <h2><f:translate key="LLL:EXT:lighthouse_insight/Resources/Private/Language/locallang.xlf:heading.fieldData" /></h2>
    <div class="lighthouse-insight-metric-grid">
        <f:for each="{result.fieldMetrics}" as="metric">
            <div class="lighthouse-insight-metric">
                <div>{metric.title}</div>
                <div class="lighthouse-insight-metric-value">
                    {metric.percentile} {metric.unit}
                    <f:if condition="{metric.category}">
                        <f:if condition="{metric.category} == 'FAST'">
                            <f:then><span class="badge badge-success">{metric.category}</span></f:then>
                            <f:else if="{metric.category} == 'AVERAGE'"><span class="badge badge-warning">{metric.category}</span></f:else>
                            <f:else><span class="badge badge-danger">{metric.category}</span></f:else>
                        </f:if>
                    </f:if>
                </div>
            </div>
        </f:for>
    </div>
</f:if>
</html>
